:root {
  /*colors*/
  --main-bg-color: #fdf1ec;
  --main-text-color: #251d23;
  --main-accent-color: #f27598;
  /*fonts*/
  --main-serif-font: 'Merriweather', serif;
  --main-script-font: 'Sacramento', cursive;
  --main-sans-font: 'Open Sans', sans-serif;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 3vw;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 24px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: var(--main-serif-font);
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: 30rem;
}

h1 {
  color: var(--main-accent-color);
  font-size: 4rem;
  font-style: italic;
  margin: 5rem 0 0 0;
  text-align: center;
}

h2 {
  color: var(--main-accent-color);
  font-size: 1.5rem;
  font-style: italic;
  margin: 3rem 0 2rem 0;
  text-align: center;
}

h3 {
  font-size: .75rem;
  margin: 0 0 .5rem 0;
}

p {
  line-height: 175%;
  margin: 1rem 0;
}

img {
  opacity: 80%;
  outline: 4px solid var(--main-bg-color);
  outline-offset: -4px;
  margin: 0 0 1rem -25%;
  width: 150%;
}

li {
  break-inside: avoid-column;
  margin: 0 0 1rem 0;
}

ul {
  list-style-type: none;
  margin: 2rem 0 3rem;
  padding: 0;
}

ul p {
  font-size: 0.75rem;
  margin: 0;
  opacity: .8;
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.cta {
  border: .1rem solid var(--main-accent-color);
  color: var(--main-accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-sans-font);
  line-height: 3rem;
  outline: none;
  padding: 0 1rem;
  text-shadow: none;
  width: fit-content;
}

.script {
  font-family: var(--main-script-font);
  font-size: 2rem;
  line-height: 1;
  transform: rotate(-16deg);
}

.col2 {
  column-gap: 2rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.col3 {
  column-gap: 1rem;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.outline li {
  border: .1rem solid var(--main-accent-color);
  padding: 1rem;
}

#logo {
  position: absolute;
  left: 1.5rem;
  top: 0.5rem;
}

#or {
  display: inline-block;
  text-align: center;
  width: 4rem;
}

#brief {
  text-align: center;
}

#ctas {
  margin: 2rem 0;
  text-align: center;
}

/*experiment*/

#top-supporters {
  font-family: var(--main-script-font);
  font-size: 1.25rem;
  line-height: 3rem;
  text-align: center;
}

#supporters {
  font-family: var(--main-script-font);
  line-height: 3rem;
  text-align: center;
}

#footer {
  background-color: var(--main-accent-color);
  margin: 0 0 0 -25%;
  width: 150%;
}

#footer h2 {
  color: var(--main-bg-color);
  padding-top: 2rem;
}

#footer p {
  color: var(--main-bg-color);
  font-size: .5rem;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

#footer a {
  color: var(--main-bg-color);
}

#footer .col2 {
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

/*from the old stylehseet*/

.center {
  text-align: center;
}
.digit {
  font-family: 'Open Sans', sans-serif;
}
.x-small {
  font-size: .7em;
}
.active {
  background-color: #16c60c30;
  color: #109809;
}

.icon {
  margin-right: .4em;
}
.fin {
  margin-left: 10px;
}
.ind25 {
  margin: 1em;
}

ul.top_patrons li::before {
    content: "🌟 ";
    margin-left: -16px;
}

div.divider {
  border-bottom: .13em #bd46a3 solid;
  margin: 8vh 10px 4vh 0;
}

img#header {
  height: 100vh;
  width: 100vw;
  margin-left: calc(-100vw/2 + 100%/2);
  opacity: 80%;
  pointer-events: none;
  position: relative;
  z-index: -1;
}

img#footer {
  width: 100vw;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-top: calc(-100vw*.3);
  pointer-events: none;
}
