:root {
  /*colors*/
  --main-bg-color: #F5F5F7;
  --main-text-color: #1A237E;
  --main-accent-color: #D81B60;
  --secondary-accent-color: #FFC107;
  --inverse-text-color: #FFFFFF;
  /*fonts*/
  --main-serif-font: 'Merriweather', serif;
  --main-script-font: 'Sacramento', cursive;
  --main-sans-font: 'Public Sans', sans-serif;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 3vw;
  }

  img, #footer {
    margin: 0 0 1rem calc(100%/2 - 100vw/2);
    width: 100vw;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 24px;
  }

  img, #footer {
    margin: 0 0 1rem -25%;
    width: 150%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: var(--main-sans-font);
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: 30rem;
}

h1 {
  color: var(--main-accent-color);
  font-family: var(--main-serif-font);
  font-weight: 900;
  font-size: 4rem;
  margin: 5rem 0 0 0;
  text-align: center;
}

h2 {
  color: var(--main-text-color);
  font-family: var(--main-serif-font);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3rem 0 2rem 0;
  text-align: center;
}

h3 {
  font-size: .75rem;
  margin: 0 0 .5rem 0;
}

p {
  line-height: 175%;
  margin: 1rem 0;
}

img {
  opacity: 80%;
  outline: 4px solid var(--main-bg-color);
  outline-offset: -4px;
}

.ad-container {
  margin: 2rem 0;
  min-height: 6rem;
  text-align: center;
}

.ad-container .adsbygoogle {
  display: inline-block;
  min-height: 5rem;
  width: 100%;
}

li {
  break-inside: avoid-column;
  margin: 0 0 1rem 0;
}

ul {
  list-style-type: none;
  margin: 2rem 0 3rem;
  padding: 0;
}

ul p {
  font-size: 0.75rem;
  margin: 0;
  opacity: .8;
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.cta {
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-sans-font);
  font-weight: 700;
  line-height: 3rem;
  outline: none;
  padding: 0 1rem;
  text-shadow: none;
  width: fit-content;
  border: none;
}

#btn-donate {
  background-color: var(--main-accent-color);
  color: var(--inverse-text-color);
}

#btn-activate {
  background-color: var(--secondary-accent-color);
  color: var(--main-text-color);
}

.script {
  font-family: var(--main-script-font);
  font-size: 2rem;
  line-height: 1;
  transform: rotate(-16deg);
}

.col2 {
  column-gap: 2rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.col3 {
  column-gap: 1rem;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.outline li {
  border: .1rem solid var(--main-accent-color);
  padding: 1rem;
}

#logo {
  position: absolute;
  left: 1.5rem;
  top: 0.5rem;
}

#or {
  display: inline-block;
  text-align: center;
  width: 4rem;
  font-family: var(--main-sans-font);
}

#brief {
  text-align: center;
  font-family: var(--main-sans-font);
  color: var(--main-text-color);
}

#ctas {
  margin: 2rem 0;
  text-align: center;
}

/*experiment*/

#top-supporters {
  font-family: var(--main-sans-font);
  font-size: 1.25rem;
  line-height: 3rem;
  text-align: left;
}

#supporters {
  font-family: var(--main-sans-font);
  line-height: 3rem;
  text-align: left;
}

#footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#footer h2 {
  color: var(--main-text-color);
  padding-top: 2rem;
}

#footer p {
  color: var(--main-text-color);
  font-size: .5rem;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem 0;
  text-align: center;
}

#footer a {
  color: var(--main-text-color);
  font-size: .75rem;
}

#footer .col2 {
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

/*from the old stylehseet*/

.active {
  background-color: #16c60c30;
  color: #109809;
}
