/*
rgba(237,231,246,1) light purple
rgba(253,241,236,1) light orange
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(253,241,236,1);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(3vh);
  overflow-x: hidden;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 100vh;
}

#splash {
  height: calc(97vh);
  margin-top: calc(-100vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-shadow: #00000033 0.05em 0.05em 0.4em;
}

.center {
  text-align: center;
}
.digit {
  font-family: 'Open Sans', sans-serif;
}
.small {
  font-size: .8em;
}
.x-small {
  font-size: .7em;
}
.cta {
  background-color: black;
  border: none;
  border-radius: 2.5vh;
  box-shadow: #00000033 0.05em 0.05em 0.4em;
  color: white;
  cursor: pointer;
  display: block;
  line-height: 7vh;
  margin: 6vh auto 1vh;
  outline: none;
  padding: 0 calc(5vh);
  text-shadow: none;
  width: fit-content;
}
.icon {
  margin-right: .4em;
}
.fin {
  margin-left: 10px;
}
.ind25 {
  margin: 1em;
}

p {
  color: rgba(0,0,0,0.84);
  margin: 1em 0;
}

a {
  color: #D0021B;
  text-decoration: none;
  border-bottom: .13em solid #D0021B;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 4em;
  margin: 0 0 calc(100vw*.03) 0;
  white-space: nowrap;
}
h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
  margin: 10px 0;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  margin: 5vh 0 1vh .5em;
}

ul {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}
ul.col3 {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  overflow: hidden;
  white-space: nowrap;
}
li {
  line-height: 2.5;
}

div.divider {
  border-bottom: .13em #D0021B solid;
  margin: 8vh 10px 4vh 0;
}

img#header {
  height: 100vh;
  width: 100vw;
  margin-left: calc(-100vw/2 + 100%/2);
  opacity: 26%;
  pointer-events: none;
  position: relative;
  z-index: -1;
}

img#footer {
  width: 100vw;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-top: calc(-100vw*.3);
  pointer-events: none;
}
