:root {
  /*colors*/
  --main-bg-color: rgba(253,241,236,1);
  --main-text-color: #251d23;
  --main-accent-color: #F99985;
  /*fonts*/
  --main-serif-font: 'Merriweather', serif;
  --main-script-font: 'Sacramento', cursive;
  --main-sans-font: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: var(--main-serif-font);
  font-size: 24px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
}

h1 {
  color: var(--main-accent-color);
  font-size: 2.4em;
  font-style: italic;
  margin: 1em 0 0 0;
  text-align: center;
}

h2 {
  color: var(--main-accent-color);
  font-size: 1.5em;
  font-style: italic;
  margin: 2em 0 1.5em 0;
  text-align: center;
}

h3 {
  font-size: .9em;
  margin: 0 0 .5em 0;
}

img {
  opacity: 80%;
  outline: 4px solid var(--main-bg-color);
  outline-offset: -4px;
  margin: 0 0 1em -25%;
  width: 150%;
}

ul {
  list-style-type: none;
  margin: 1.5em 0;
  padding: 0;
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.cta {
  border: .1em solid var(--main-accent-color);
  color: var(--main-accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-sans-font);
  line-height: 3em;
  outline: none;
  padding: 0 1em;
  text-shadow: none;
  width: fit-content;
}

.script {
  font-family: var(--main-script-font);
  font-size: 2em;
  line-height: 1;
  transform: rotate(-16deg);
}

.col3 {
  column-gap: 1em;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  white-space: nowrap;
}

.outline li {
  border: .1em solid var(--main-accent-color);
  break-inside: avoid-column;
  padding: 1em;
  margin: 0 0 1em 0;
}

#logo {
  position: absolute;
  left: 0.5em;
  top: 0;
  width: 4em;
}

#or {
  display: inline-block;
  text-align: center;
  width: 2em;
}

#brief {
  line-height: 175%;
  text-align: center;
}

#ctas {
  margin: 2em 0;
  text-align: center;
}

/*experiment*/

#top-supporters {
  font-family: var(--main-script-font);
  font-size: 1.25em;
  line-height: 3em;
  text-align: center;
}

#supporters {
  font-family: var(--main-script-font);
  line-height: 3em;
  text-align: center;
}

/*from the old stylehseet*/

.center {
  text-align: center;
}
.digit {
  font-family: 'Open Sans', sans-serif;
}
.small {
  font-size: .8em;
}
.x-small {
  font-size: .7em;
}
.active {
  background-color: #16c60c30;
  color: #109809;
}

.icon {
  margin-right: .4em;
}
.fin {
  margin-left: 10px;
}
.ind25 {
  margin: 1em;
}

ul.top_patrons li::before {
    content: "🌟 ";
    margin-left: -16px;
}

div.divider {
  border-bottom: .13em #bd46a3 solid;
  margin: 8vh 10px 4vh 0;
}

img#header {
  height: 100vh;
  width: 100vw;
  margin-left: calc(-100vw/2 + 100%/2);
  opacity: 80%;
  pointer-events: none;
  position: relative;
  z-index: -1;
}

img#footer {
  width: 100vw;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-top: calc(-100vw*.3);
  pointer-events: none;
}
